$primary-color: #000;
$secondary-color: #fff;
$border-color: #000;
$background-color: rgba(255, 255, 255, 0.65);

@mixin center-content($justify: center, $align: center, $flex-direction: row) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $flex-direction;
}

@mixin border-radius-and-border($border-color, $border-width, $border-radius) {
    border: $border-width solid $border-color;
    border-radius: $border-radius;
}

.border-style {
    @include border-radius-and-border($primary-color, 2px, 0.4rem);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

#root{
    width: 100%;
    height: 100%;
}

.App{
    width: 100%;
    height: 100%;
    @include center-content();
    font-family: monospace;
}

section{
    max-width: 100%;
    @include center-content(center, center, column);
    gap: 1.4rem;
}

header {
    width: 100%;
    text-align: center;
    select {
        cursor: pointer;
        width: 36%;
        border-radius: 0;
        padding: 0.2rem;
    }
}

option:hover {
    cursor: pointer;
}

.content {
    padding: 4rem;
    @include center-content(center, center, column);
    @extend .border-style;
    gap: 1rem;
}

.pokemon-values {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1.4rem;
    .pokemon-stats{
        text-align: right;
    }
}

.pokemon-abilities {
    display: flex;
    justify-content: space-around;
    width: 100%;
    p {
        @include center-content(center, center, column);
        text-align: center;
        span {
            font-weight: bold;
        }
    }
}

.pokemon-stats-value {
    text-align: left;
    display: flex;
    flex-direction: column;
    span {
        font-weight: bold;
    }
}

.pokemon-img-container {
    width: 12rem;
    height: 12rem;
    display: flex;
    justify-content: center;
    img {
        width: 100%;
    }
}

.pokemon {
    width: 24rem;
    @include center-content(center, center, column);
    @extend .border-style;
    padding: 2rem;
    background-color: $background-color;
    h2 {
        text-align: center;
    }
}

/* classes to be inserted and removed by JavaScript*/
.pikachu {
    background: linear-gradient(to bottom right, #fdbb2d 0%, #ff0 100%);
}

.charizard {
    background: linear-gradient(110deg, red 0%, $secondary-color 100%);
}

.blastoise {
    background: linear-gradient(120deg, #1cb5e0 0%, #000851 100%);
}

.flareon {
    background: linear-gradient(0deg, #c71800 10%, #fcc245 100%);
}

.bulbasaur {
    background: linear-gradient(20deg, #191919 0%, #100b32 33%, #5c0249 100%);
}

.gengar {
    background: linear-gradient(20deg, #191919 0%, #100b32 33%, #5c0249 100%);
}

.alakazam {
    background: linear-gradient(140deg, #ffa7f9 0%, #ff2cc3 39%, #ffe3a7 100%);
}    